{:kira.reader.log/publisher
 {:type :console
  :pretty? false}

 :kira.reader.http/handler
 {}

 :kira.reader.http/server
 {:handler #ig/ref :kira.reader.http/handler
  :port    8080
  :host    "0.0.0.0"}}
